Sids.Prodesp.Infrastructure/Web References/ProdespPagtoContaUnica/vhi-fault.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:params="urn:xmlns:attachmate:vhi-ws:fault-params" name="vhi-fault" targetNamespace="urn:xmlns:attachmate:vhi-ws:fault" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://10.72.1.40:9680/vhi-ws/session/Pool_IntegracaoPagtoContaUnica/vhi-base-fault.xsd" namespace="urn:xmlns:attachmate:vhi-ws:fault-params" />
    </xsd:schema>
  </types>
  <message name="InvalidAddressingHeaderFault">
    <part name="parameters" element="params:InvalidAddressingHeaderFault" />
  </message>
  <message name="MessageAddressingHeaderRequiredFault">
    <part name="parameters" element="params:MessageAddressingHeaderRequiredFault" />
  </message>
  <message name="ModelFault">
    <part name="parameters" element="params:ModelFault" />
  </message>
  <message name="OperationUndefinedFault">
    <part name="parameters" element="params:OperationUndefinedFault" />
  </message>
  <message name="ServiceFault">
    <part name="parameters" element="params:ServiceFault" />
  </message>
  <message name="UserFault">
    <part name="parameters" element="params:UserFault" />
  </message>
  <message name="XMLStreamFault">
    <part name="parameters" element="params:XMLStreamFault" />
  </message>
</definitions>